.w25 {width: 25%;}
.w30 {width: 30%;}
.w33 {width: 33%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w75 {width: 75%;}


.left {float: left;}
.right {float: right;}
/*.clear {clear: both;}*/
.clear:after{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}


.button {
    font-size: 14px;
    display: inline-block;
    width: 200px;
    text-align: center;
    background: #e9e9e9;
    color: #3d3d3d;
    border: none;
    height: 34px;
    line-height: 32px;
    font-family: 'Ubuntu', 'sans-serif';
    cursor: pointer;
}

.btn_red {color: #ffffff; background: #e84c3d;}
.btn_blue {color: #ffffff; background: #405163;}